<h1>ember-text-spinners</h1>
<p>Provides spinners from <a href="http://tawian.io/text-spinners/">text-spinners</a>
    to your Ember app.</p>
<ul>
    <li>{{text-spinner}}</li>
    <li>{{text-spinner type='dots'}}</li>
    <li>{{text-spinner type='dots2'}}</li>
    <li>{{text-spinner type='dots3'}}</li>
    <li>{{text-spinner type='line'}}</li>
    <li>{{text-spinner type='line2'}}</li>
    <li>{{text-spinner type='plus'}}</li>
    <li>{{text-spinner type='lifting'}}</li>
    <li>{{text-spinner type='hamburger'}}</li>
    <li>{{text-spinner type='bar'}}</li>
    <li>{{text-spinner type='bar2'}}</li>
    <li>{{text-spinner type='circle'}}</li>
    <li>{{text-spinner type='open-circle'}}</li>
    <li>{{text-spinner type='arrow'}}</li>
    <li>{{text-spinner type='triangle'}}</li>
    <li>{{text-spinner type='triangles'}}</li>
    <li>{{text-spinner type='beam'}}</li>
    <li>{{text-spinner type='bullet'}}</li>
    <li>{{text-spinner type='bullseye'}}</li>
    <li>{{text-spinner type='rhomb'}}</li>
    <li>{{text-spinner type='fish'}}</li>
    <li>{{text-spinner type='toggle'}}</li>
    <li>{{text-spinner type='countdown'}}</li>
    <li>{{text-spinner type='time'}}</li>
    <li>{{text-spinner type='hearts'}}</li>
    <li>{{text-spinner type='earth'}}</li>
    <li>{{text-spinner type='moon'}}</li>
    <li>{{text-spinner type='monkey'}}</li>
    <li>{{text-spinner type='runner'}}</li>
    <li>{{text-spinner type='box-bounce'}}</li>
    <li>{{text-spinner type='start'}}</li>
    <li>{{text-spinner type='words'}}</li>
</ul>
